{{> top title="Postpone, multiple image sets, start method"}}

<p>Third set has start method.</p>

<div class="controls">
	<button type="button" class="destroy" data-instance="first-set">Destroy instance "first-set"</button><br />
	<button type="button" class="destroy" data-instance="second-set">Destroy instance "second-set"</button><br />
	<button type="button" class="destroy" data-instance="third-set">Destroy instance "third-set"</button><br />
	<button type="button" class="destroy" data-instance="fourth-set">Destroy instance "fourth-set"</button><br />
	<button type="button" class="destroy" data-instance="nonexistent-set">Destroy instance "nonexistent-set"</button>
</div>

<img class="first-set" data-src="assets/images/3366637773_7fc46dffbe.jpg" alt="" />
<img class="first-set" data-src="assets/images/3521766128_90a7719f12.jpg" alt="" />
<img class="first-set" data-src="assets/images/8935657788_73f5daa6e3.jpg" alt="" />
<img class="first-set" data-src="assets/images/3655338482_bdab8415f9.jpg" alt="" />
<img class="first-set" data-src="assets/images/3961281995_a46d6f27e1.jpg" alt="" />

<img class="second-set" data-src="assets/images/8522154040_9ec4dcb982.jpg" alt="" />
<img class="second-set" data-src="assets/images/4567925035_9a513b1c75.jpg" alt="" />
<img class="second-set" data-src="assets/images/9244258769_a16703a46e.jpg" alt="" />

<img class="third-set" data-src="assets/images/5170192357_dc1c163fb1_z.jpg" alt="" />
<img class="third-set" data-src="assets/images/6813794686_968e2569cd_z.jpg" alt="" />
<img class="third-set" data-src="assets/images/5170155619_b4c5d2e558_z.jpg" alt="" />
<img class="third-set" data-src="assets/images/5170798574_0b1cfc8d88.jpg" alt="" />

<img class="fourth-set" data-src="assets/images/2648651259_fd87e88916.jpg" alt="" />
<img class="fourth-set" data-src="assets/images/9738398077_3800ac99ee.jpg" alt="" />
<img class="fourth-set" data-src="assets/images/6799004729_f6bc1cbbc1.jpg" alt="" />
<img class="fourth-set" data-src="assets/images/6798966357_7d59c92bec.jpg" alt="" />

<script>

	$('.destroy').on('click', function ( e ) {
		$('.' + $(this).data('instance')).delayImages('destroy');
	});

	$('.first-set').delayImages({
		method: 'postpone',
		threshold: 300,
		debounce: 0,
		success: function ( images ) {
			if ( !+'\v1' ) {
				console.log('first-set: ' + JSON.stringify(images));
			} else {
				console.log( 'first-set' );
				console.log( images );
			}
		}
	});

	$('.second-set').delayImages({
		method: 'postpone',
		threshold: 1000,
		debounce: 0,
		success: function ( images ) {
			if ( !+'\v1' ) {
				console.log('second-set: ' + JSON.stringify(images));
			} else {
				console.log( 'second-set' );
				console.log( images );
			}
		}
	});

	$('.third-set').delayImages({
		method: 'postpone',
		debounce: 0,
		start: function ( images ) {
			console.log('Start for third set!');
		},
		success: function ( images ) {
			if ( !+'\v1' ) {
				console.log('third-set: ' + JSON.stringify(images));
			} else {
				console.log( 'third-set' );
				console.log( images );
			}
		}
	});

	$('.fourth-set').delayImages({
		method: 'postpone',
		threshold: 100,
		debounce: 0,
		success: function ( images ) {
			if ( !+'\v1' ) {
				console.log('fourth-set: ' + JSON.stringify(images));
			} else {
				console.log( 'fourth-set' );
				console.log( images );
			}
		}
	});

	$('.nonexistent-set').delayImages({
		method: 'postpone',
		debounce: 0,
		success: function ( images ) {
			if ( !+'\v1' ) {
				console.log('nonexistent-set-set: ' + JSON.stringify(images));
			} else {
				console.log( 'nonexistent-set' );
				console.log( images );
			}
		}
	});

	$('.first-set').delayImages({
		method: 'postpone',
		threshold: 300,
		debounce: 0,
		success: function ( images ) {
			console.log('First set, second time!');
		}
	});

</script>

{{> bottom}}
